<template name="ProjectsProjectDetails">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
						<div id="page_menu" class="pull-right">
						</div>
					</div>
				</div>
				{{> ProjectsProjectDetailsDetailsForm}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="menu">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="subcontent">
				{{> yield region='ProjectsProjectDetailsSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="ProjectsProjectDetailsDetailsForm">
	<div id="projects-project-details-details-form" class="">
		<h5 id="component-title">
			Project {{find_project.name}}
		</h5>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
				</div>
			</div>
		</form>
	</div>
</template>

