<template name="ProjectsProjectDetails">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
						<div id="page_menu" class="pull-right">
						</div>
					</div>
				</div>
				{{> ProjectsProjectDetailsDetailsForm}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="menu">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="subcontent">
				{{> yield region='ProjectsProjectDetailsSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="ProjectsProjectDetailsDetailsForm">
	<div id="projects-project-details-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Project #{{find_project.name}}
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name" class="col-sm-3 control-label">
					Project name
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{find_project.name}}
					</p>
				</div>
			</div>
			<div class="form-group  field-created-by">
				<label for="createdBy" class="col-sm-3 control-label">
					Publisher
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{find_project.createdBy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-module-id">
				<label for="moduleId" class="col-sm-3 control-label">
					Modules
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{find_project.moduleId}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
				</div>
			</div>
		</form>
	</div>
</template>

